body {
  font-family: "Sora", helvetica, sans-serif;
  background-color: #fafaf9;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 80px);
  gap: 25px;
  margin: 90px 24px;
  max-width: 640px;
}

/* STAR ICON */
.star {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5c044;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.star::before {
  content: "⭐️";
  line-height: 1;
}

/* TITLE */
h1 {
  font-size: 2.25rem;
  color: #18181b;
  margin: 16px 0 0;
}

/* BODY-TEXT*/
h4 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #52525a;
}

/* LIST-ITEMS*/
.list-items {
  font-size: 0.875rem;
  list-style: none;
  padding: 0;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 7.5px;
}

li {
  display: flex;
  gap: 10px;
  color: #52525a;
}

/* article */
article {
  background-color: #ffffff;
  width: 280px;
  height: 120px;
  padding: 28px 40px;
  border-radius: 15px;
  line-height: 1.7;
}

.user-exp {
  display: inline-block;
  padding: 0 12px;
}

h5 {
  margin: 8px 0 16px;
}

p {
  color: #52525a;
  margin: 0;
}

img {
  height: 24px;
}

/* GRID LAYOUT */
.reviewers {
  grid-column: 1/10;
  grid-row: 1;
  width: 560px;
  line-height: 1.6;

  h4 {
    margin: 12px 0 32px;
  }
}

.google-testimonial {
  grid-column: 3/13;
  grid-row: 2;
}

.meta-testimonial {
  grid-column: 1/13;
  grid-row: 3;
}

@media (width >= 1024px) {
  body {
    background-color: #1333;
    margin-top: 160px;

  }

  .google-testimonial {
    grid-column: 9;
    grid-row: 1;
  }

  .meta-testimonial {
    grid-column: 7;
    grid-row: 4;
  }

  main {
    grid-template-rows: repeat(6, 48px);
    margin: 90px 64px;
  }
}