:root {
  --title-size: 4rem;
  --header-size: 2rem;
  --body-size: 1rem;
  --label-size: 0.875rem;
  --button_text-size: 1.25rem;
  --input_bg-color: #ffffff;
  --text-color: #f8fafc;
  --placeholder-color: #cdd5e0;
  --input_options-color: #111729;
  --button_text-color: #4036a9;
}

* {
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  background: url(../assets/bg-image.svg) no-repeat fixed;
  background-size: cover;
  color: var(--text-color);
}

main {
  display: grid;
  justify-items: center;
  width: 100vw;
}

section.start-info {
  display: grid;
  max-width: 746px;
  margin: 0 auto;
}

header {
  h1 {
    font-size: var(--title-size);
    text-align: center;
    margin: 0;
  }

  .logo {
    align-self: flex-start;
    margin: 20px 50px 44px;
  }

  p {
    font-size: var(--header-size);
    margin: 16px 0 72px;
    text-align: center;
  }
}

form {
  padding: 32px;
  background-color: rgba(255, 255, 255, 0.125);
  border-radius: 15px;
}

input,
select,
textarea {
  min-width: 364px;
  font-weight: bold;
  box-sizing: border-box;
  padding: 24px 0 24px 18px;
  border-right: 18px solid transparent;
  border-radius: 15px;
  border-style: none;
  resize: none;
}

textarea {
  height: 180px;
}

fieldset {
  display: grid;
  border-style: none;
}

.content {
  display: flex;
}

.contact.content {
  flex-direction: column;
}

input[type="submit"] {
  font-size: var(--button_text-size);
  color: var(--button_text-color);
}
